.main {
  padding-left: 24 * $basesize + 1rem;
  padding-right: 1rem;
  transition: $transition;

  &.active {
    transition: $transition;
  }

  &__elem {
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid $color-primary-3;
  }
}

@media (max-width: 767px) {
  $basesize: 0.44rem;

  .main {
    padding-left: 1rem;
  }

  .main.active {
    padding-left: 24 * $basesize + 1rem;
  }
}

@media (max-width: 575px) {
  .main.active {
    padding-left: 1rem;
  }
}
