.sidebar {
  @include menu($basesize);
  @include sidebar($basesize);

  height: 100%;
  flex-direction: column;
  z-index: 2;
  transition: $transition;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  &__toggler {
    @include sidebar($basesize);
    height: 6 * $basesize;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
    top: 0;
    padding-left: 2 * $basesize;

    &__icon {
      visibility: hidden;
    }

    &__logo {
      font-family: 'Covered By Your Grace';
      font-size: $basesize * 3;
      text-align: center;
    }

    > * {
      color: $color-primary-2;
    }
  }

  &__elem {
    height: 6 * $basesize;

    &.active::after {
      border-left: 0.3rem solid $color-secondary;
      filter: brightness(0.8);
    }

    &__icon {
      width: 5 * $basesize;

      &[id$='-toggler'] [class*='icon-']:before {
        right: 50%;
      }
    }

    > *:not(.avatar) {
      color: $color-primary-2;
    }

    [class*='icon-']:before {
      @include absolute-center;
      left: 25%;
    }

    &:not(#manager)::after {
      position: absolute;
      background: transparent;
      content: '';
      width: calc(100% + 2rem);
      height: 100%;
      margin-left: -1rem;
      transition: $transition;
    }

    &:not(#manager):hover::after {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);
      border-left: 0.3rem solid $color-secondary;
    }

    &__border::before {
      position: absolute;
      bottom: -3 * $basesize;
      width: calc(100% + 2rem);
      height: 1px;
      margin-left: -1rem;
      content: '';
      background: $color-primary-4;
      opacity: 0.5;
    }
  }

  &::after {
    position: absolute;
    top: -6 * $basesize;
    left: 24 * $basesize;
    height: 6 * $basesize;
    width: 100vw;
    background: $color-primary-5;
    border: 1px solid $color-primary-5;
    content: '';
    transition: $transition;
  }

  &__fill {
    display: none;
  }

  &.active {
    left: 0;
    transition: $transition;

    &::after {
      width: 24 * $basesize;
      left: 0;
      transition: $transition;
    }
  }
}

#manager {
  display: none;
  height: fit-content;
  margin: 6 * $basesize 0;

  &.active {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  .sidebar::after {
    display: none;
  }
}

@media (max-width: 767px) {
  $basesize: 0.44rem;

  .sidebar {
    left: -24 * $basesize;
    width: 24 * $basesize;

    &__toggler {
      cursor: pointer;
      height: 6 * $basesize;
      padding-left: 2 * $basesize;
      width: 24 * $basesize;

      &__icon {
        visibility: visible;
      }

      &__logo {
        font-size: $basesize * 3;
      }

    }

    &__elem {
      height: 6 * $basesize;

      &__icon {
        width: 5 * $basesize;
      }
    }

    &::after {
      top: -6 * $basesize;
      height: 6 * $basesize;
    }

    &.active::after {
      width: 24 * $basesize;
    }
  }
}
