$basesize: 0.5rem;

/* Colors */
$color-ternary: #56819f;
$color-primary-1: #f5f5f2;
$color-primary-2: #e3e3e3;
$color-primary-3: #bababa;
$color-primary-4: #979797;
$color-primary-5: #333333;
$color-positive: #96cc9b;
$color-positive-hover: #74b67a;
$color-positive-active: #04ae00;
$color-secondary-active: #ffa200;
$color-secondary: #f58220;
$color-negative: #ec7171;
$color-negative-hover: #de5252;
$color-negative-active: #ff0000;

/* Font-sizes */
$font-size-1: 1.6 * $basesize;
$font-size-2: 2 * $basesize;
$font-size-3: 2.4 * $basesize;

/* Fonts */
$font-main: 'Source Sans Pro', sans-serif;

/* Font weights */
$font-light: 300;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

/* Other */
$transition: all 0.3s;
